<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.address">

<!-- 	<select id="getCitys" resultType="AddressCodeVO">
		SELECT a.cityCode  , a.gunCode , a.dongCode, a.cityN , a.gunN , a.dongN FROM koreacrpgp.address_code AS a
		GROUP BY a.cityCode
		order by cityN asc
	</select> -->
	
	<select id="getCitys" resultType="AddressCodeVO">
		SELECT a.cityCode  , a.gunCode , a.dongCode, a.cityN , a.gunN , a.dongN , IFNULL(tem.cityCount,0) as cityCount
       
        FROM address_code AS a 
        LEFT JOIN  
        
        (
        		select tem.* from (
				select count(a.cityCode) as cityCount ,a.cityCode 
				from web_member AS a 
				group by a.cityCode
				) as tem
        ) as tem
        
        
		ON a.cityCode = tem.cityCode

        where 1=1 

        
		GROUP BY a.cityCode 
        order by cityN asc
   
	</select>
	

<!-- 	<select id="getGus"  parameterType="java.util.HashMap"  resultType="AddressCodeVO">
		SELECT a.cityCode  , a.gunCode , a.dongCode, a.cityN , a.gunN , a.dongN FROM koreacrpgp.address_code AS a
		GROUP BY a.cityCode , a.gunCode 
		having a.cityCode = #{cityCode}
		order by gunN asc
	</select> -->
	
	<select id="getGus"  parameterType="java.util.HashMap"  resultType="AddressCodeVO">
		SELECT a.cityCode  , a.gunCode , a.dongCode, a.cityN , a.gunN , a.dongN , IFNULL(tem.gunCount,0) as gunCount
       
        FROM address_code AS a 
        LEFT JOIN  
        
        (
			select tem.* from (
				select a.cityCode , a.gunCode ,a.gunN , count(a.gunCode) as gunCount
				from web_member AS a 
				group by a.cityCode ,a.gunCode
				having 1=1
				
				 and a.cityCode = #{cityCode}
		   
			) as tem
        ) as tem
        
        
		ON a.cityCode = tem.cityCode
        and  a.gunCode = tem.gunCode

        where 1=1 
		and a.cityCode = #{cityCode}
        
		GROUP BY a.cityCode ,a.gunCode 
        order by gunN asc
   
	</select>
	
<!-- 	<select id="getDongs"  parameterType="java.util.HashMap"  resultType="AddressCodeVO">
		SELECT a.cityCode  , a.gunCode , a.dongCode, a.cityN , a.gunN , a.dongN FROM koreacrpgp.address_code AS a
		GROUP BY a.cityCode , a.gunCode , a.dongCode
		having a.cityCode = #{cityCode}
		and a.gunCode = #{gunCode}
		order by dongN asc
	</select> -->

	<select id="getDongs"  parameterType="java.util.HashMap"  resultType="AddressCodeVO">
		SELECT a.cityCode  , a.gunCode , a.dongCode, a.cityN , a.gunN , a.dongN , IFNULL(tem.dongCount,0) as dongCount
       
        FROM address_code AS a 
        LEFT JOIN  
        
        (
			select tem.* from (
				select a.cityCode , a.gunCode ,a.gunN , a.dongCode , count(a.dongCode) as dongCount
				from web_member AS a 
				group by a.cityCode ,a.gunCode ,a.dongCode
				having 1=1
				
				 and a.cityCode = #{cityCode}
                 and a.gunCode = #{gunCode}
		   
			) as tem
        ) as tem
        
        
		ON a.cityCode = tem.cityCode
        and  a.gunCode = tem.gunCode
        and  a.dongCode = tem.dongCode

        where 1=1 
		and a.cityCode = #{cityCode}
		and a.gunCode = #{gunCode}
         
		GROUP BY a.cityCode , a.gunCode ,a.dongCode 
        order by dongN asc
   
	</select>
	
		<select id="cityVal"  parameterType="java.util.HashMap"  resultType="String">
		SELECT 
			case WHEN count(a.cityCode) >= 1 THEN a.cityCode 
				 WHEN count(a.cityCode) = 0 THEN '0'
				 END
			FROM address_code AS a 
        	where 1=1 
			and a.cityN = #{cityN}
		</select>
		<select id="gunVal"  parameterType="java.util.HashMap"  resultType="String">
		SELECT 
			case WHEN count(a.gunCode) >= 1 THEN a.gunCode 
				 WHEN count(a.gunCode) = 0 THEN '0'
				 END 
	        FROM address_code AS a 
        	where 1=1 
			and a.gunN = #{gunN}
		</select>
		<select id="dongVal"  parameterType="java.util.HashMap"  resultType="String">
		SELECT 
			case WHEN count(a.dongCode) >= 1 THEN a.dongCode 
				 WHEN count(a.dongCode) = 0 THEN '0'
				 END 
	        FROM address_code AS a 
        	where 1=1 
			and  a.dongN = #{dongN}
		</select>

</mapper>